<!DOCTYPE html>
<html lang="fr">

<%- include('../layout/_head') %>

<body>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <%- include('../layout/_spinner') %>

    <%- include('../layout/_sidebar') %>


    <!-- Content Start -->
    <div class="content">
      <%- include('../layout/_navbar') %>

      <!--start dynamic part-->

      <!--end dynamic part-->

      <%- include('../layout/_footer') %>
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <%- include('../layout/_scripts') %>

</body>

</html>